* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blue-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.box {
  position: relative;
  width: 450px;
  height: 550px;
  padding: 36px 90px 60px 70px;
  border-radius: 30px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2),
    -10px -10px 30px rgba(0, 0, 0, 0.15), inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    inset 5px 5px 20px rgba(0, 0, 0, 0.15),
    inset -5px -5px 15px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 249, 241, 0.833);
  max-height: 500px; /* Set the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling when the list is taller than the container */
}

h2 {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

#priority {
  flex: 1;
  z-index: 1;
  top: 180px;
  display: flex;
  position: absolute;
  left: 80px;
  border-radius: 50px;
  width: 100px;
  height: 20px;
}

#inputtext {
  position: absolute;
  width: 65%;
  flex: 1;
  border: none;
  outline: none;
  padding: 15px;
  margin-right: 18px;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2), inset 2px 2px 5px;
}

#button1 {
  padding: 15px 28px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 60px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 20rem;
  top: 1px;
}

#button1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#button1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 70px;
}

ul li {
  list-style: none;
  font-size: 1rem;
  padding: 20px 15px 12px 50px;
  min-height: 30px;
  margin-top: 2px;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #03a9f4;
  border-radius: 30px;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  border-radius: 50%;
  width: 28px;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 15.9px;
  left: 12px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
  background-color: #f8fbd7;
}

ul li.checked::before {
  background-image: url(./images/checked.png);
}

ul li span {
  right: 10px;
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  color: #555;
  flex: 1;
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
  line-height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

ul li span:hover {
  background: #c6d9ff;
}

fieldset {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  margin-top: 60px;
}

legend {
  top: 50px;
  padding: 5px 10px;
  border-radius: 10px;
}

legend[for="high"] {
  background: #ff5733; /* High Priority Legend Color */
  color: #fff; /* High Priority Text Color */
}

legend[for="medium"] {
  background: #ffc300; /* Medium Priority Legend Color */
  color: #333; /* Medium Priority Text Color */
}

legend[for="low"] {
  background: #27ae60; /* Low Priority Legend Color */
  color: #fff; /* Low Priority Text Color */
}
